# JUCE auto generated
*.jucer
*.filtergraph
BeatUploader/Builds/
BeatUploader/JuceLibraryCode/
PluginProcessor.*

# vs
.vs/

# design
design.png

# enviroment variables for juce
BeatUploader/Source/env.*

# API
API/venv/
API/API/.env
API/API/staticroot/

# common wild cards
**/__pycache__/**