# JUCE auto generated
*.jucer
*.filtergraph
BeatUploader/Builds/
BeatUploader/JuceLibraryCode/
PluginProcessor.*

# vs
.vs/

# design
design.png

# enviroment variables for frontend
BeatUploader/Source/env.*

# API
API/venv
API/API/.env

**/__pycache__/**